<define /Greeting |input|>
  <await = new Promise(r => setTimeout(r, 1000))>
    <h3>Hi, ${input.name}</h3>
  </>
</>

<h1>Welcome</h1>
<try>
  <Greeting name="Jake" />
  <@placeholder>
    <p>Loading...</p>
  </>
</try>
