<!--
import { render } from "solid-js/web";
import { createSignal, onMount, For } from "solid-js";
import "./styles.css";

function App() {
  const [photos, setPhotos] = createSignal([]);

  onMount(async () => {
    const res = await fetch(`https://jsonplaceholder.typicode.com/photos?_limit=20`);
    setPhotos(await res.json());
  });

  return <>
    <h1>Photo album</h1>

    <div class="photos">
      <For each={photos()} fallback={<p>Loading...</p>}>{ photo =>
        <figure>
          <img src={photo.thumbnailUrl} alt={photo.title} />
          <figcaption>{photo.title}</figcaption>
        </figure>
      }</For>
    </div>
  </>;
}

render(() => <App />, document.getElementById('app'));
-->

<let /photos />

<lifecycle onMount=(async () => {
  let res = await fetch(`https://jsonplaceholder.typicode.com/photos?_limit=20`)
  photos = await res.json()
}) />

<h1>Photo album</h1>

<div class="photos">
  <if = photos>
    <for |photo| of=photos>
      <figure>
        <img src=photo.thumbnailUrl alt=photo.title />
        <figcaption>${photo.title}</figcaption>
      </figure>
    </for>
  </>
  <else>
   <p>Loading...</p>
  </>
</div>

<style>
  .photos {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 8px;
  }

  figure, img {
    width: 100%;
    margin: 0;
  }
</style>
