static function fibonacci(num) {
  console.log('Calculating Fibonacci');
  if (num <= 1) return 1;
  return fibonacci(num - 1) + fibonacci(num - 2);
}

<let /count = 0 />
<const /fib = fibonacci(count) />

<button onClick() { count = count + 1 }>Click Me</button>
<div>Count: ${count}</div>

<div>1. ${fib} ${fib} ${fib} ${fib} ${fib}</div>
<div>2. ${fib} ${fib} ${fib} ${fib} ${fib}</div>
<div>3. ${fib} ${fib} ${fib} ${fib} ${fib}</div>
<div>4. ${fib} ${fib} ${fib} ${fib} ${fib}</div>
<div>5. ${fib} ${fib} ${fib} ${fib} ${fib}</div>
<div>6. ${fib} ${fib} ${fib} ${fib} ${fib}</div>
<div>7. ${fib} ${fib} ${fib} ${fib} ${fib}</div>
<div>8. ${fib} ${fib} ${fib} ${fib} ${fib}</div>
<div>9. ${fib} ${fib} ${fib} ${fib} ${fib}</div>
<div>10. ${fib} ${fib} ${fib} ${fib} ${fib}</div>
