<const /cats = [
	{ id: 'J---aiyznGQ', name: 'Keyboard Cat' },
	{ id: 'z_AbfPXTKms', name: 'Maru' },
	{ id: 'OUtn3pvWmpg', name: 'Henri The Existential Cat' }
] />

<ul>
  <for |cat, i| of=cats by=((_, i) => i)>
    <li>
      <a target="_blank" href=`https://www.youtube.com/watch?v=${cat.id}`>
        ${i + 1}: ${cat.name}
      </a>
    </li>
  </for>
</ul>
