<define /RedThing><strong style="color: red">Red Thing</strong></define>
<define /GreenThing><strong style="color: green">Green Thing</strong></define>
<define /BlueThing><strong style="color: blue">Blue Thing</strong></define>

<const /options = {
  red: RedThing,
  green: GreenThing,
  blue: BlueThing,
} />

<let /selected = "red" />

<select value:=selected>
  <for |color| of=Object.keys(options)>
    <option value=color>${color}</option>
  </for>
</select>

<${options[selected]}/>

