<let /pos = {x: 0, y: 0} />

<const /handleMouseMove (event) {
  pos = {
    x: event.clientX,
    y: event.clientY,
  }
} />

<div onMouseMove=handleMouseMove>
  The mouse position is ${pos.x} x ${pos.y}
</div>

<style>
  div {
    width: 100%;
    height: 100%;
  }
</style>
