<let /current = "foo" />

<button
  class={selected: current === 'foo'}
  onClick() { current = 'foo' }
>foo</button>
<button
  class={selected: current === 'bar'}
  onClick() { current = 'bar' }
>bar</button>
<button
  class={selected: current === 'baz'}
  onClick() { current = 'baz' }
>baz</button>

<style>
  button {
    display: block;
  }

  .selected {
    background-color: #ff3e00;
    color: white;
  }
</style>
