<const /pkg = {
  name: "solid-js",
  version: 1,
  speed: "⚡️",
  website: "https://solidjs.com",
} />

<Info ...pkg />

<define /Info |input|>
  <p>
    The <code>${input.name}</code> package is ${input.speed} fast. Download
    version ${input.version} from
    <a href=`https://www.npmjs.com/package/${input.name}`>npm</a> and
    <a href=input.website>learn more here</a>
  </p>
</define>

