<let /firstName = "John">
<let /lastName = "Smith">
<const /fullName = (() => {
  console.log("Running FullName")
  return `${firstName} ${lastName}`
})()>

<const /updateNames () {
  console.log("Button Clicked");
  firstName = firstName + "n";
  lastName = lastName + "!";
}>

<button onClick=updateNames>My name is ${fullName}</button>

